@spaceSize:7px;

.note{
	background-color:#FFF;
	margin:@spaceSize 0px;
	padding:@spaceSize 0px;
	.text,.author,.date,.statistic{
		margin:0px @spaceSize @spaceSize/2;
	}
	.text{
		margin-bottom:@spaceSize;
	}
}
.statistic{
	display:block;
}