@spaceSize:7px;

.note{
	background-color:transparent;
	background-image:url('../i/white70.png');
	background-repeat:repeat;
	background-position:top left;
	margin:@spaceSize 0px;
	padding:@spaceSize 0px 0px;
	&.active{
		background-color:#FFF;
	}
	.text,.meta,.statistic{
		margin:0px @spaceSize @spaceSize/2;
	}
	.meta{
		font-size:12px;
		div{
			float:left;
		}
	}
	.text{
		margin-bottom:@spaceSize;
	}
	.actions{
		background:#DDD;
		padding:@spaceSize/2 @spaceSize;
		margin:0px;
	}
}
.statistic{
	display:block;
}