body{
	font-family:Verdana,Arial,Sans-Serif;
	font-size:14px;
	background-color:#EFEFEF;
}

#templates{
	display:none;
}

form .requiredField .asteriskField{
	color:#b00005;
}

.navbar{
	clear:both;
}