
.dph{
	font-size:1.1em;
	.line{
		display:block;
	}
}
.logo{
	display:block;
	float:left;
	margin-right:@spaceSize;
	width:50px;
	height:50px;
	background-repeat:no-repeat;
	background-position:top left;
}
.logo.sfhiv-logo{
	background-image:url('../i/sfhiv_logo.gif');
	height:67px;
	width:211px;
}
.logo.dph-logo{
	background-image:url('../../homepage/i/sf-city-seal.png');
	height:107px;
	width:109px;
}

.citation{
	display:block;
	float:left;
	margin-right:@spaceSize;
	.title{
		display:block;
		font-style:italic;
		&.main{
			font-weight:bold;
			font-style:normal;
		}
	}
	.logo{
		margin:@spaceSize auto;
		float:none;
	}
}
