
.dph{
	font-size:1.1em;
	.line{
		display:block;
	}
}
.dph-logo{
	display:block;
	float:left;
	margin-right:@spaceSize*2;
	width:110px;
	height:110px;
	background-image:url('../../homepage/i/sf-city-seal.png');
	background-repeat:no-repeat;
	background-position:top left;
}