.wrapper.container{
	width:1090px;
}

#chart-container,#note-container{
	width:auto;
	display:block;
	float:left;
	margin-top:@spaceSize;
	margin-bottom:@spaceSize;
	.section-title{
		display:block;
	}
}

#chart-container{
	width:675px;
}
#chart-container .inner{
	width:675px;
}
#note-container{
	width:400px;
	margin-left:@spaceSize*2;
}
#home .about-container,.chart-list{
	display:block;
	float:left;
}

#home .about-container{
	width:615px;
}
#home .chart-list{
	width:275px;
	margin-left:@spaceSize*2;
}

