<form class="memo" id="{% if memo.key %}{{memo.key}}{% else %}new{% endif %}" {% for tag in memo.tags%}data-{{tag.type}}="{{tag.text}}" {% endfor %} action="{% if memo.key %}{{url_for('memos_app.update',key=memo.key)}}{% else %}{{url_for('memos_app.create')}}{% endif %}" method="post">
	{% if request.form['ajax'] %}
	<a class="close" href="{{url_for('memos_app.read',key=memo.key)}}">Close</a>
	{% endif %}
	<label for="memo_message">Message</label>
	<textarea id="memo_message" name="message">{{memo['message']}}</textarea>
	
	<label for="memo_author">Your E-Mail</label>
	<input type="text" id="memo_author" name="author" value="{{memo['author']}}" />
	
	{% for tag in memo.tags %}
	<input type="hidden" name="{{tag.type}}" value="{{tag.text}}" />
	{% endfor %}
	
	<label class="checkbox"><input type="checkbox" name="public" value="true" {% if memo['public'] %}checked="true"{% endif %} /> Public</label>
	
	<input class="button save" type="submit" value="Save" />
	{% if memo.key %}
	<a class="delete" href="{{url_for('memos_app.delete',key=memo.key)}}">Delete</a>
	{% endif %}
</form>