{% load as_percent %}

<div id="chart-{{chart.id}}" class="chart barchart" data-animation-time="750" >
	<h2 class="title">{{chart.title}}</h2>
	<div class="description">{{chart.description}}</div>
	<form class="controls">
		<fieldset class="filters">
			<legend><span>Select axis to view</span></legend>
			<ul class="nav tags btn-group">
			{% for row in rows %}
				{% include "charts/row-control.html" with row=row %}
			{% endfor %}
			</ul>
			{% for row in rows %}
			{% if row.children|length %}
			<ul class="tags tags-children nav btn-group" parent="{{row.short}}">
			{% for child in row.children %}
				{% include "charts/row-control.html" with row=child %}
			{% endfor %}
			</ul>
			{% endif %}
			{% endfor %}
		</fieldset>
		<fieldset class="layout">
			<legend><span>Change layout of graph</span></legend>
			<label class="checkbox"><input class="percent" type="checkbox" name="percent" value="on" />View as percent per <span class="column_name">column</span></label>
		</fieldset>
	</form>
	<div class="y_label">{{chart.y_label}}</div>
	<div class="canvas-container">
	<div class="canvas">
	{% for column in columns %}
		<div class="column" value="{{column.short}}">
			<div class="label">
				<span class="name row">{{column.label}}</span>
				<span class="total row"><span class="amount"></span>&nbsp;{{chart.units}}</span>
				<div class="clear">&nbsp;</div>
			</div>
			<div class="bar-container">
			{% for point in column.points %}
			<div class="bar{% for row in point.rows %} {{row.short}}{% endfor %}"
				tags="{{column.short}}{% for row in point.rows %},{{row.short}}{% endfor %}"
				amount="{{point.value}}"
				total="{{point.total}}"
				percent="{{point.percent}}">
				<div class="amount">{{point.value}}</div>
				<div class="highlight">
					<div class="row">
						<span class="amount">{{point.value}}</span>
						<span class="percent">{{point.percent|as_percent}}</span>
					</div>
					<div class="row">
						of
						<span class="total">{{point.total}}</span>
						<span class="label">{{chart.units}}</span>
					</div>
					<div class="row">
						<span class="tags">{% for row in point.rows %}{{row.name}}{% endfor %} in {{column.label}}</span>
					</div>
					<div class="arrow"></div>
				</div>
			</div>
			{% endfor %}
			</div>
		</div>
	{% endfor %}	
	</div>
	</div>
	<div class="x_label">{{chart.x_label}}</div>
</div>