{% load as_percent %}

<div id="chart-{{chart.id}}" chart-id="{{chart.id}}" class="chart barchart" data-animation-time="750" >
	<h2 class="title">{{chart.title}}</h2>
	<div class="description">{{chart.description}}</div>
	<form class="controls">
		<fieldset class="filters">
			<legend><span>Select axis to view</span></legend>
			<ul class="nav tags btn-group">
			{% for row in rows %}
				{% include "charts/row-control.html" with row=row %}
			{% endfor %}
			</ul>
			{% for row in rows %}
			{% if row.children|length %}
			<ul class="tags tags-children nav btn-group" parent="{{row.short}}">
			{% for child in row.children %}
				{% include "charts/row-control.html" with row=child %}
			{% endfor %}
			</ul>
			{% endif %}
			{% endfor %}
		</fieldset>
		<fieldset class="layout">
			<legend><span>Change layout of graph</span></legend>
			<label class="checkbox"><input class="percent" type="checkbox" name="percent" value="on" />View as percent per <span class="column_name">column</span></label>
		</fieldset>
	</form>
	<div class="canvas-container">
		<div class="canvas">
			
		</div>
	</div>
	<div class="footnotes">{{chart.footnotes}}</div>
</div>