<script type="text/javascript" src="{{STATIC_URL}}libs/js/underscore.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/js/backbone.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/js/raphael-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/utilites.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}tags/js/tag.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}tags/js/tag-controls.js"></script>
<script id="barchart-template" type="html/template">
	<div id="chart-<%= id %>" class="chart barchart" >
		<h2 class="title"><%= title %></h2>
		<div class="description"><%= description %></div>
		<form class="controls"></form>
		<div class="canvas"></div>
		<div class="footnotes"></div>
		<div class="meta">
			<span class="author">Uploaded by <a href="mailto:<%= author %>"><%= author %></a></span>
		</div>
	</div>
</script>
<script id="footnote-template" type="text/html">
	<div id="footnote-<%= id %>" class="footnote">
		<h3 class="footnote-title title"><%= title %></h3>
		<div class="footnote-description description"><%= description %></div>
	</div>
</script>
<script id="tag-button-template" type="text/html">
	<div class="tag btn tag-btn <%= short %>">
		<span class="name"><%= name %></span>
		<i class="color" style="background-color:<%= color %>"></i>
	</div>
</script>
<script id="chart-short-template" type="text/html">
	<div class="chart chart-short" chart-id="<%= id %>" >
		<h3><a href="/charts/<%= id %>/" class="title"><%= title %></a></h3>
		<p class="description"><%= description %></p>
	</div>
</script>
<script id="highlight-template" type="text/html">
	<div class="highlight">
		<div class="title"><%= row %> in <%= column %></div>
		<%	if(under_threshold){	%>
		<div class="numbers warning">Less than <%= threshold %> <%= units %></div>
		<%	}else if(number == total){	%>
		<div class="numbers"><%= number %> <%= units %></div>
		<%	}else{	%>
		<div class="numbers"><%= number %> of <%= total %> <%= units %> (<%= percent %>)</div>
		<% } %>
	</div>
</script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/chart.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/scale.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/charts-manager.js"></script>