{% extends 'base.html' %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}charts/css/barchart.css" />
{% endblock %}

{% block scripts %}
{{block.super}}

<script type="text/javascript" src="{{STATIC_URL}}charts/js/jquery.address.min.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}charts/js/utilites.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart/highlight.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart/interactions.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart/bar.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart/column.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart/grid.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart/controls_filters.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart/barchart.js"></script>

{% endblock %}

{% block content %}
{% include "charts/barchart.html" %}
{% endblock %}