<div id="chart-{{chart.id}}" data-id="{{chart.id}}" class="chart chart-table">
	<h2 class="title title-chart">{{chart.title}}</h2>
	<div class="description description-chart">{{chart.description}}</div>
	<div class="canvas chart-table-canvas table">
		<div class="row">
			<div class="column wide">&nbsp;</div>
			{% for column in columns %}
			<div data-tags="{{column.short}}" class="column legend {{column.short}}">{{column.label}}</div>
			{% endfor %}
		</div>
		{% for row in rows %}
		<div class="row {{row.short}} {% if row.parent %}child{% endif%}">
			<div data-tags="{{row.short}}" class="column wide legend {{row.short}}">{{row.name}}</div>
			{% for column in columns %}
			{% for point in column.points %}
			{% if row.short in point.rows %}
			<div data-tags="{{row.short}},{{column.short}}" class="column point {{row.short}} {{column.short}}">{{point.value}}</div>
			{% endif %}
			{% endfor %}		
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	<br style="clear:both;" />
</div>