#chart{
	background:#FFF;
	border-left:1px #333 solid;
	border-top:1px #333 solid;
	width:425px;
	margin:0px 10px 10px 0px;
	overflow:hidden;
}

.chart{
	clear:both;
	width:400px;
	margin:0px auto;
	padding:0px;
	height:300px;
	padding:0px 0px 25px 0px;
	position:relative;
}
.chart .column{
	list-style-type:none;
	margin:0px 5px;
	padding:0px;
	width:80px;
	height:300px;
	display:block;
	float:left;
	position:relative;
	top:0px;
	left:0px;
}

.chart .column .bar{
	position:absolute;
	height:0px;
	width:60px;
	background:#679ad9;
}

.chart .column .label{
	display:block;
	position:absolute;
	top:300px;
	left:0px;
	width:80px;
	text-align:center;
}

.chart .column .highlight{
	display:none;
	background:#FFF;
	border:1px #000 solid;
	font-size:0.8em;
	position:absolute;
	top:0px;
	left:0px;
	z-index:15;
}
.chart .column .highlight span{
	display:block;
	text-align:center;
}
.chart .column .highlight span.number{
	font-size:1.2em;
	font-weight:bold;
}

#chart fieldset{
	border:0px;
}
#chart fieldset legend{
	font-size:0.8em;
	font-style:italic;
}

.filters{
	display:block;
	clear:both;
}
.filters label{
	width:auto;
	display:block;
	float:left;
	margin:0px 7px 0px 0px;
}

.grid{
	position:absolute;
	top:0px;
	left:0px;
}
.grid .tick{
	position:absolute;
	top:0px;
	left:0px;
}