.total,.total .color,.column .bar.total{
	background-color:#79b5ff;
}


.gender,.gender .color,.column .bar.gender{
	background-color:#666;
}

.male,.male .color,.column .bar.male{
	background-color:#8c8c8c;
}

.female,.female .color,.column .bar.female{
	background-color:#bdbdbd;
}

.trans,.trans .color,.column .bar.trans{
	background-color:#d9d9d9;
}


.ethnicity,.ethnicity .color,.column .bar.ethnicity{
	background-color:#125ebc;
}

.white,.white .color,.column .bar.white{
	background-color:#104E8B;
}

.african_american,.african_american .color,.column .bar.african_american{
	background-color:#1874CD;
}

.latino,.latino .color,.column .bar.latino{
	background-color:#1C86EE;
}

.asian_pacific_islander,.asian_pacific_islander .color,.column .bar.asian_pacific_islander{
	background-color:#60AFFE;
}

.native_american,.native_american .color,.column .bar.native_american{
	background-color:#007FFF;
}

.other_race,.other_race .color,.column .bar.other_race{
	background-color:#1E90FF;
}


.age,.age .color,.column .bar.age{
	background-color:#8b5f00;
}

.zero_onetwo,.zero_onetwo .color,.column .bar.zero_onetwo{
	background-color:#993300;
}

.onethree_onenine,.onethree_onenine .color,.column .bar.onethree_onenine{
	background-color:#964514;
}
.twozero_twonine,.twozero_twonine .color,.column .bar.twozero_twonine{
	background-color:#E47833;
}
.threezero_threenine,.threezero_threenine .color,.column .bar.threezero_threenine{
	background-color:#FF7722;
}
.fourzero_fournine,.fourzero_fournine .color,.column .bar.fourzero_fournine{
	background-color:#C76114;
}
.fivezero_,.fivezero_ .color,.column .bar.fivezero_{
	background-color:#EE8833;
}


.exposure,.exposure .color,.column .bar.exposure{
	background-color:#85008b;
}
.msm,.msm .color,.column .bar.msm{
	background-color:#9a799c;
}
.idu,.idu .color,.column .bar.idu{
	background-color:#b078b2;
}
.msm_idu,.msm_idu .color,.column .bar.msm_idu{
	background-color:#bc6ec0;
}
.heterosexual,.heterosexual .color,.column .bar.heterosexual{
	background-color:#d467d9;
}
.other_exposure,.other_exposure .color,.column .bar.other_exposure{
	background-color:#fb9eff;
}