.total,.total .color,.column .bar.total{
	background-color:#79b5ff;
}


.gender,.gender .color,.column .bar.gender{
	background-color:#666;
}

.male,.male .color,.column .bar.male{
	background-color:#8c8c8c;
}

.female,.female .color,.column .bar.female{
	background-color:#bdbdbd;
}

.trans,.trans .color,.column .bar.trans{
	background-color:#d9d9d9;
}


.ethnicity,.ethnicity .color,.column .bar.ethnicity{
	background-color:#125ebc;
}

.white,.white .color,.column .bar.white{
	background-color:#5985bc;
}

.african_american,.african_american .color,.column .bar.african_american{
	background-color:#7ba6db;
}

.latino,.latino .color,.column .bar.latino{
	background-color:#96b8e2;
}

.asian_pacific_islander,.asian_pacific_islander .color,.column .bar.asian_pacific_islander{
	background-color:#a2c7f6;
}

.native_american,.native_american .color,.column .bar.native_american{
	background-color:#b7cae3;
}

.other_race,.other_race .color,.column .bar.other_race{
	background-color:#AAA;
}