{% extends 'layout.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static',filename='barchart.css')}}">
<link rel="stylesheet" href="{{url_for('memos_app.static',filename='memos.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('.static',filename='barchart.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static',filename='grid.js')}}"></script>
<script type="text/javascript" src="{{url_for('memos_app.static',filename='memos.js')}}"></script>
<script type="text/javascript" src="{{url_for('memos_app.static',filename='filter_memos.js')}}"></script>
{% endblock %}

{% block content %}
<div id="chart" data-name="{{filename}}" data-src="{{url_for('data_api.get_data',chart=filename)}}">
	<h2 class="title">{{title}}</h2>
	<form>
		<fieldset class="filters">
			<legend><span>Select axis to view</span></legend>
		</fieldset>
		<fieldset class="layout">
			<legend><span>Change layout of graph</span></legend>
			<label class="checkbox"><input class="percent" type="checkbox" name="percent" value="on" />View as percent per year</label>
		</fieldset>
	</form>
	<div class="chart"></div>
	<div class="foot"></div>
</div>
<div id="memos" data-src="{{url_for('memos_app.get_memos')}}"></div>
{% endblock %}

{% block templates %}
{{super()}}
<div class="column">
	<div class="label"></div>
	<div class="highlight">
		<span class="number"></span>
		<span class="total"></span>
		<span class="qualify"></span>
		<a href="#" class="highlink">Click To Highlight</a>
		<div class="bottom"></div>
	</div>
</div>
<div class="bar">
	<div class="amount"></div>
</div>
<label class="filter radio">
	<input type="radio" name="filter" value="" />
	<span class="name"></span>
	<span class="description"></span>
</label>
{% endblock %}