<div id="note-{{note.id}}" class="note" date="{{note.pub_date|date:"SHORT_DATE_FORMAT"}}">
	<div class="text">{{note.text}}</div>
	{% if statistics %}
	<ul class="statistics">
	{% for statistic in statistics %}
		<li class="statistic statistic-list"
			tags="{% for tag in statistic.tags.all %}{% if not forloop.first %},{% endif %}{{tag.short}}{% endfor %}"
			parent-tags="{% for tag in statistic.tags.all %}{% if tag.parent %}{{tag.parent.short}},{% endif %}{% endfor %}"
			sibling-tags="{% for tag in statistic.tags.all %}{% if tag.parent %}{% for sibling in tag.parent.children.all %}{% if sibling != tag %}{{sibling.short}},{% endif %}{% endfor %}{% endif %}{% endfor %}"
			child-tags="{% for tag in statistic.tags.all %}{% if tag.children.count > 0 %}{% for child in tag.children.all %}{{child.short}},{% endfor %}{% endif %}{% endfor %}">
			<i></i>
			{% for tag in statistic.tags.all %}
			{% if not forloop.first %}, {% if forloop.last %}and {% endif %}{% endif %}
			{{tag.name}}{% endfor %}
		</li>
	{% endfor %}
	</ul>
	{% endif %}
	<div class="meta note-meta">
		<div class="pub_date"><em>Posted on </em>{{note.pub_date|date:"SHORT_DATE_FORMAT"}}</div>
		{% if note.author %}
		<div class="author">
			<em>&nbsp;by&nbsp;</em>
			{% if note.author.username != note.author.email %}
			<span class="name">{{note.author.username}}</span>
			{% endif %}
			{% if note.author.email %}
			<a href="mailto:{{note.author.email}}" class="email"><i></i>{{note.author.email}}</a>
			{% endif %}
		</div>
		{% endif %}
		<div style="clear:both;float:none;display:block;height:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="nav">
		{% if user %}
		{% if user.is_staff or user == note.author %}
		<a href="/notes/{{note.id}}/edit/" class="edit">Edit</a>
		{% endif %}
		{% endif %}
		<a href="/notes/{{note.id}}/" class="share">Share</a>
	</div>
</div>