.note {
  background-color: transparent;
  background-image: url('../i/white70.png');
  background-repeat: repeat;
  background-position: top left;
  margin: 7px 0px;
  padding: 7px 0px;
}
.note.active {
  background-color: #FFF;
}
.note .text,
.note .author,
.note .date,
.note .statistic {
  margin: 0px 7px 3.5px;
}
.note .text {
  margin-bottom: 7px;
}
.statistic {
  display: block;
}
