body{
	font-family:verdana,arial,sans-serif;
	font-size:14px;
	background:#CCC;
	width:100%;
}

a,a:visited{
	color:#00F;
}

.template,#templates{
	display:none;
}

.button{
	padding:3px 7px 5px;
	text-decoration:none;
	background-color:#d4d4d4;
	color:#000;
	font-weight:500;
	border:1px #666 solid;
	border-radius:3px;
	box-shadow:2px 2px 2px #999;
}
.button:hover,.button.hover{
	background-color:#a9a9a9;
}

.wrapper{
	width:850px;
	margin:12px auto;
}

.footer,#foot{
	clear:both;
	font-size:0.9em;
}

form input,form textarea{
	display:block;
	clear:both;
}
form label.radio,form label.checkbox{
	display:block;
	position:relative;
}
form .radio input,form .checkbox input{
	display:block;
	float:left;
	margin:3px;
	width:auto;
	height:auto;
}


#chart,#memo{
	display:block;
	float:left;
	overflow:hidden;
}