<i class="dph-logo dph-logo-big">&nbsp;</i>
<div class="dph">
	<span class="line">City and County of San Francisco</span>
	<span class="line">Department of Public Health</span>
</div>
<h1>Interactive HIV Epidemiology Charts</h1>
<div class="navbar affix">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="#about">About</a></li>
			<li><a href="#howto">How to Use</a></li>
		</ul>
	</div>
</div>
<img class="middle middle-plateau" src="{{STATIC_URL}}homepage/i/homepagegraphic.png" />
<section id="about">
	<h2>About</h2>
<p>This website is designed to improve the discussion around HIV in San Francisco by presenting the information online, and allow for analysis and user generated analysis to be saved in context of the information. The idea is that if epidemiology information is easier to cite, it will be better understood and used. This prototype was made for an audience of health professionals.</p>
<p>The charts on this website are simply presentation layer for statistics about HIV in San Francisco. The information that is presented here was compiled by epidemiologists in the HIV Surveillance Section of the San Francisco Department of Public Health.</p>
<p>Browse the charts, and discover interesting statistics about HIV in San Francisco. Then bookmark and email these statistics to colleagues or save a comment directly on the chart.</p>
</section>
<section id="howto">
	<h2>How to Use</h2>
</section>