{% extends 'base.html' %}

{% block scripts %}
{{block.super}}
	{% include 'charts/barchart-scripts.html' %}
	<script id="bookmark-list-template" type="text/html">
		<div class="bookmark-list-item bookmark">
			<i></i>
			<span class="text"><%= title %></span>
		</div>
	</script>
	<script id="bookmark-share-template" type="text/html">
		<div class="modal hide fade">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  </div>
		  <div class="modal-body">
		<div class="share-url">
			<p class="instructions">Copy and paste this url to share this page.</p>
			<div class="url"><%= url %></div>
		</div>
		  </div>
		</div>
	</script>
	<script type="text/javascript" src="{{STATIC_URL}}bookmarks/js/bookmarks.js"></script>
	<script id="note-share-template" type="text/html">
		<div class="modal hide fade">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  </div>
		  <div class="modal-body">
		<div class="note">
			<div class="text"><%= text %></div>
			<div class="bookmarks bookmarks-list"></div>
			<div class="meta">
				<span class="date"><%= pub_date %></span>
				<span class="author">by <a href="mailto:<%= author %>"><%= author %></a></span>
			</div>
		</div>
		<div class="share-url">
			<p class="instructions">Copy and paste this url to share this note.</p>
			<div class="url"><%= url %></div>
		</div>
		  </div>
		</div>
	</script>
	<script id="note-edit-template" type="text/html">
		<div class="note-add-form-container">
			<a href="#" class="close-btn"><i></i>Close</a>
			<%= form %>
			<a href="#" class="close-btn"><i></i>Close</a>
		</div>
	</script>
	<script id="note-template" type="text/html">
		<div id="note-<%= id %>" note-id="<%= id %>" class="note">
			<% if(show_close){ %><a href="#" class="close"><i></i>Close</a><% } %>
			<div class="text"><%= text %></div>
			<div class="bookmarks bookmarks-list"></div>
			<div class="meta">
				<span class="date"><%= pub_date %></span>
				<span class="author">by <a href="mailto:<%= author %>"><%= author %></a></span>
			</div>
			<div class="actions">
				<a href="#" class="share">Share</a>
				<% if(editable){ %><a href="#" class="edit">Edit</a><% } %>
				<% if(managable){ %>{{weight}}<a href="#" class="weight weight-increase">Up</a><a href="#" class="weight weight-decrease">Down</a><% } %>
			</div>
		</div>
	</script>
	<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap-collapse.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}notes/js/notes.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}notes/js/notes-list.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}homepage/js/homepage.js"></script>
	<script type="text/javascript">
		var ChartApp = false;
		$(document).ready(function(){
			ChartApp = new Homepage();
			Backbone.history.start();
		});
	</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		{% if google_analytics_id and not user.is_staff %}_gaq.push(['_setAccount', 'UA-35249294-1']);{% endif %}

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
{% endblock %}

{% block styles %}
{{block.super}}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}notes/css/notes.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bookmarks/css/bookmarks.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}charts/css/chart.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}charts/css/barchart.css" />
{% endblock %}

{% block navbar %}
<ul class="nav pages home-nav">
	<li><a href="#">Home</a></li>
	<li><a href="#about">About</a></li>
	<li><a href="#howto">How to Use</a></li>
	<li><a href="#contact">Contact</a></li>
</ul>
<ul class="nav chart-nav pages">
	<li class="home"><a href="#home" name="home"><i>&nbsp;</i>Home</a></li>
</ul>
<ul class="nav actions chart-actions pull-right">
	<li ><a href="#" class="add bookmark-add"><i>&nbsp;</i>Share</a></li>
	<li ><a href="#" class="add note-add"><i>&nbsp;</i>New Note</a></li>
</ul>
{% endblock %}


{% block content %}
<div id="home" class="page-column main page page-content">
	<div class="page-inner">
			<span class="line">City and County of San Francisco</span>
			<span class="line">Department of Public Health</span>
			<h1><em>Interactive</em>HIV Epidemiology Report</h1>
			{% include 'homepage/about.html' %}
	</div>
</div>
<div id="charts-container" class="page-column charts list charts-list">
	<noscript>
		<div class="alert alert-error">Javascript not enabled. This site will not work as expected.</div>
	</noscript>
	{% for chart in charts %}
		{% include 'charts/short.html' %}
	{% endfor %}
</div>
<div id="note-types-list" class="accordion sticky page-column">
	{% for category in categories %}
	<div class="accordion-group note-type {%if forloop.first %}active{% endif %}" note-type="{{category.short}}" {% if category.public or user.is_staff %}note-type-public="true"{% endif %}>
		<div class="accordion-heading note-type-heading">
			<a class="accordion-toggle note-type-title" data-toggle="collapse" data-parent="#note-types-list" href="#note-type-list-{{category.short}}">
				{{category.name}}
			</a>
			<div class="notes-count"><span class="count-active"></span> of <span class="count-total"></span></div>
		</div>
		<div id="note-type-list-{{category.short}}" class="notes-list-container accordion-body collapse {%if forloop.first %}in{% endif %}">
			<div class="accordion-inner notes-list"></div>
		</div>
	</div>
	{% endfor %}
</div>
<div id="note-view-container" class="page-column sticky"></div>
{% endblock %}