{% extends 'base.html' %}

{% block scripts %}
{{block.super}}
	{% include 'charts/barchart-scripts.html' %}
{% endblock %}

{% block styles %}
{{block.super}}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}notes/css/notes.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bookmarks/css/bookmarks.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}charts/css/chart.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}charts/css/barchart.css" />
<!--<link rel="stylesheet" href="{{STATIC_URL}}charts/css/table.css" />-->
{% endblock %}

{% block content %}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		<a class="brand" href="/home">SF HIV Charts</a>
		<ul class="nav pull-left">
			<li class=""><a href="/home">Home</a></li>
			<li class=""><a href="/about">About</a></li>
			<li class=""><a href="/instructions">Instructions</a></li>
		</ul>
	</div>
	</div>
</div>
<div id="home" class="page page-content">
	<div class="page-inner">
		<div class="">
			<h2>SF HIV Chart Project</h2>
		</div>
	</div>
</div>
<div id="about" class="page page-content">
	<div class="page-inner">
		<div class="">
			<h2>About SF HIV Charts</h2>
			<p>This is some intro copy about the project. You should be proud.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
<div id="instructions" class="page page-content">
	<div class="page-inner">
		<div class="">
			<h2>How to use SF HIV Charts</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
<noscript>
	<div class="alert alert-error">Javascript not enabled</div>
</noscript>
<div id="chart-container">
	<div class="inner"></div>
</div>
<div id="note-container">
	<div id="notes-edit" class="notes">
		<div class="list bookmarks-list action-area">
			<div class="bookmarks-container"></div>
			<a href="#" class="btn btn-main bookmarks-add">Add Bookmark</a>
		</div>
		<div class="notes-edit-area action-area">
			<div class="notes-container"></div>
			<a href="#" class="btn btn-main create-note">Create Note</a>
		</div>
	</div>
	<div id="notes-list" class="notes">
		<ul class="nav notes-nav btn-group">
			{% for category in categories %}
			<li class="btn"><a note-type="{{category.short}}" href="#">{{category.name}}</a></li>
			{% endfor %}
		</ul>
		<div class="notes-container"></div>
	</div>
</div>
{% endblock %}