{% extends 'base.html' %}

{% block scripts %}
{{block.super}}
	<script type="text/javascript" src="{{STATIC_URL}}datamemos/js/jquery.address.min.js" ></script>

	<script type="text/javascript" src="{{STATIC_URL}}charts/js/utilites.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart/bar.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart/scale.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart/controls_filters.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}charts/js/barchart/barchart.js"></script>
	<!--
	<script type="text/javascript" src="{{STATIC_URL}}charts/js/table.js"></script>
	-->
	<script type="text/javascript" src="{{STATIC_URL}}notes/js/notes.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}homepage/js/loader.js"></script>
{% endblock %}

{% block styles %}
{{block.super}}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}notes/css/notes.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}charts/css/chart.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}charts/css/barchart.css" />
<!--<link rel="stylesheet" href="{{STATIC_URL}}charts/css/table.css" />-->
{% endblock %}

{% block content %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
		<a class="brand" href="#">SF HIV Charts</a>
		<ul class="nav pull-right">
			<li class=""><a href="/about">About</a></li>
			<li class=""><a href="/charts">Charts</a></li>
		</ul>
	</div>
	</div>
</div>
<div id="about" class="page page-content">
	<div class="page-inner">
		<h1>About SF HIV Chart Project</h1>
		<p>This is some intro copy about the project. You should be proud.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
<div id="charts" class="page page-content">
	<div class="page-inner">
		<h1>All Charts</h1>
		<ul class="chart-links">
		{% for chart in charts %}
		<li><a href="/charts/{{chart.id}}/" data-id="{{chart.id}}">{{chart.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
<noscript>
	<div class="alert alert-error">Javascript not enabled</div>
</noscript>
<div id="chart-container"></div>
<div id="note-container">
	<ul class="nav nav-pills">
		<li><a href="#" class="create-note">Create Note</a></li>
	</ul>
	<div id="notes-edit-area" class="notes-edit notes-edit-container"></div>
	<ul id="note-type-selector" class="nav nav-pills">
		{% for category in categories %}
		<li><a note-type="{{category.short}}" href="#">{{category.name}}</a></li>
		{% endfor %}
	</ul>
	<div id="notes" class="notes notes-container"></div>
</div>
{% endblock %}

{% block templates %}
<div class="note">
	<div class="text"></div>
	<div class="author" style="display:none;"></div>
	<div class="date" style="display:none;"></div>
	<a href="" class="edit" style="display:none;"></a>
</div>
<a class="statistic"><i></i></a>
{% endblock %}