<div id="howto" class="instructions">
	<h2>How it Works</h2>
	<p>Each "chart" is a table of data. The controls at the top of the page illustrate how that table is being display in the bar chart.</p>
	<div class="row row-fluid">
		<div class="instruction span6">
			<p>You can navigate a chart by using the controls at the top of the page.</p>
		</div>
		<div class="instruction span6">
			<p>You can use your mouse to interact directly with the chart, and bring up details about any point in the table.</p>
			<img src="{{STATIC_URL}}homepage/i/chart-mouse-detail.jpg" />
		</div>
	</div>
	<div class="row row-fluid">
		<div class="instruction span6">
			<p>As you navigate the chart, notes will organize themselves to show you the most relevant information.</p>
		</div>
		<div class="instruction span6">
			<p>To see what a note references, hover or click on the note's bookmark.</p>
			<img src="{{STATIC_URL}}homepage/i/bookmark-mouse-detail.jpg" />
		</div>
	</div>
	<div class="row row-fluid">
		<div class="instruction span6">
			<p>To add a comment to the chart, click 'Add Note' in the top left corner of the screen.</p>
		</div>
		<div class="instruction span6">
			<p>When you add a comment, you will be sent an email with a permanent link to view the note, and a permanent link to edit the note.</p>
			<p>Optionally, you can post a private note - in case you only want people with the link to see your comment.</p>
		</div>
	</div>
	<div class="row row-fluid">
		<div class="instruction span6">
			<p>You can share any note by clicking the "Share" link at the bottom the note.</p>
		</div>
		<div class="instruction span6">
			<p>You can share any screen by clicking the "Share" link in the top left corner of the screen.</p>
		</div>
	</div>
</div>