<div id="howto" class="instructions">
	<h2>How it Works</h2>
	<div class="instruction">
	<div class="instruction-inner">
		<p>Each "chart" is a table of data. The controls at the top of the page illustrate how that table is being display in the bar chart.</p>
	</div>
	</div>
	<div class="row row-fluid">
		<div class="instruction span6">
			<div class="instruction-inner">
			<p>You can navigate a chart by using the controls at the top of the page.</p>
			<img src="{{STATIC_URL}}homepage/i/controls.png" />
			</div>
		</div>
		<div class="instruction span6">
			<div class="instruction-inner">
			<p>You can use your mouse to interact directly with the chart, and bring up details about any point in the table.</p>
			<img src="{{STATIC_URL}}homepage/i/mouse-hover.png" />
			</div>
		</div>
	</div>
	<div class="instruction">
		<div class="instruction-inner">
		<p>There are 3 types of notes: Analysis, Definitions and Comments. Analysis are notes created by experts with a through understanding of the data. Definitions are technical notes that explain quirks in the data. Comments are user generated notes.</p>
		<p>If you create a note, it will be added to the comments section.</p>
		</div>
	</div>
	<div class="instruction row row-fluid">
		<div class="instruction-inner">
		<div class="span6">
			<p>As you navigate the chart, notes will organize themselves to show you the most relevant information.</p>
			<p>To see what a note references, hover or click on the note's bookmark.</p>
		</div>
		<div class="span6">
			<img src="{{STATIC_URL}}homepage/i/notes-navigation.png" />
		</div>
		</div>
	</div>
	<div class="row row-fluid">
		<div class="instruction span6">
			<div class="instruction-inner">
			<p>To add a comment to the chart, click 'Add Note' in the top left corner of the screen.</p>
			<p>When you add a comment, you will be sent an email with a permanent link to view the note, and a permanent link to edit the note.</p>
			<p>Optionally, you can post a private note - in case you only want people with the link to see your comment.</p>
			</div>
		</div>
		<div class="instruction span6">
			<div class="instruction-inner">
			<p>You can share any note by clicking the "Share" link at the bottom the note.</p>
			<p>You can share any screen by clicking the "Share" link in the top left corner of the screen.</p>
			</div>		
		</div>
	</div>
</div>