<div id="howto">
	<h2>How to Use</h2>
	<p>Open a chart from the list. Navigate the chart by selecting a category. You can hover or click on any bar to view details.</p>
	<img src="{{STATIC_URL}}homepage/i/chart-mouse-detail.jpg" />
	<p>As you navigate the chart, notes will organize themselves to show you the most relevant information.</p>
	<p>To see what a note references, hover or click on the note's bookmark.</p>
	<img src="{{STATIC_URL}}homepage/i/bookmark-mouse-detail.jpg" />
	<p>To add a comment to the chart, go to 'comments' and click 'Add Note'. You are required to enter your email address to post on a chart. After posting a note, you will be sent an email with a permanent link to your note, and a link to edit that note.</p>
	<p>When you share a note, you will copy the permanent link shown to you and paste it into </p>
	<p>To share a note with out leaving a comment, you can click the share note button.</p>
</div>