.chart {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px;
  background-color: #FFF;
}
.chart .description,
.chart .title {
  margin: 0px 7px;
}
.chart .chart-title {
  font-size: 24px;
  line-height: 28px;
}
.chart .description {
  margin-bottom: 7px;
}
.chart .controls {
  margin: 0px 7px;
}
.chart .controls legend {
  margin: 0px 0px 3.5px;
  font-size: 12px;
  line-height: 13px;
  font-style: italic;
  border: 0px;
}
.chart .meta {
  margin: 7px 14px;
}
.chart.loading {
  background-image: url('../../datamemos/i/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
}
.chart.loading .description,
.chart.loading .title,
.chart.loading .controls,
.chart.loading .footnote,
.chart.loading .canvas,
.chart.loading .meta {
  display: none;
}
.filters {
  display: block;
  clear: both;
}
.filters label {
  width: auto;
  display: block;
  float: left;
  margin: 0px 7px 0px 0px;
  position: relative;
}
.filters .tags {
  display: block;
  clear: both;
  margin: 0px;
}
.filters .tags-children {
  display: none;
  clear: both;
  margin: 0px;
  padding: 0px;
}
.filters .tags li,
.filters .tags-children li {
  float: left;
}
.filters .tag {
  cursor: pointer;
  padding: 7px;
  margin: 0px;
  overflow: hidden;
}
.filters .tag.radio {
  padding-left: 7px;
}
.filters .tag.active {
  background-color: #cccccc;
}
.filters .tag.active-parent {
  background-color: #f2f2f2;
}
.filters .tag input {
  display: block;
  position: absolute;
  left: -50px;
}
.filters .tag .color {
  width: auto;
  height: 5px;
  display: block;
  float: none;
}
.filters .tag-has-children {
  padding-bottom: 12px;
}
.filters .tag-has-children .color {
  display: none;
}
.chart .controls fieldset {
  margin-top: 7px;
}
.canvas {
  height: 400px;
  width: auto;
  display: block;
  margin: 7px;
  position: relative;
  top: 0px;
  left: 0px;
}
.canvas .highlight {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 230px;
  display: block;
  background-color: #FFF;
  border: #000 3px solid;
}
.canvas .highlight .numbers,
.canvas .highlight .title {
  display: block;
  clear: both;
  text-align: center;
}
.canvas .highlight .numbers {
  margin: 3.5px 7px 7px;
}
.canvas .highlight .title {
  margin: 7px 7px 3.5px;
}
.canvas .highlight .warning {
  font-style: italic;
}
.chart .footnote {
  margin: 7px;
}
.chart .footnote .footnote-title {
  font-size: 16px;
  line-height: 18px;
  margin: 0px;
}
.chart .footnote .description {
  margin: 0px;
}
.canvas .top-fade {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 13;
  width: 100%;
  height: 10px;
  background-image: url('../i/top-fade.png');
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.highlight-container {
  display: block;
  margin: 3.5px 7px;
}
.highlight-container .highlight {
  margin: 0px;
  padding: 3.5px 7px 7px;
  font-size: 1.2em;
  text-align: center;
  background-color: #FFF;
  background-repeat: repeat;
  background-position: top left;
  border: 1px #AAA solid;
}
