.chart .description,
.chart .title {
  margin: 0px 7px;
}
.chart .description {
  margin-bottom: 7px;
}
.chart .controls {
  margin: 0px 7px;
}
.chart .controls legend {
  margin: 0px 0px 3.5px;
  font-size: 12px;
  line-height: 13px;
  font-style: italic;
  border: 0px;
}
/* GRID */
.grid {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}
.grid .tick {
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: 1px solid #cccccc;
  width: 100%;
}
.grid .tick .label {
  display: none;
}
.filters {
  display: block;
  clear: both;
}
.filters label {
  width: auto;
  display: block;
  float: left;
  margin: 0px 7px 0px 0px;
  position: relative;
}
.filters .tags {
  display: block;
  clear: both;
}
.filters .tags-children {
  display: none;
  clear: both;
}
.filters .tag {
  float: left;
}
.canvas-container {
  position: relative;
  overflow: hidden;
}
.canvas {
  height: 400px;
  width: auto;
  display: block;
  margin: 7px 7px 30px;
  position: relative;
  top: 0px;
  left: 0px;
}
.canvas .scale {
  position: relative;
  background-color: #FFF;
  display: block;
  float: left;
  height: 100%;
  width: 50px;
  margin-right: 14px;
}
.canvas .scale .tick {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.canvas .scale .tick .label {
  display: block;
  padding: 0px 7px;
  text-align: right;
  font-size: 0.8em;
}
.canvas .column {
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
  float: left;
  width: auto;
  height: 100%;
  margin-right: 21px;
}
.canvas .column .label {
  display: block;
  position: absolute;
  top: 400px;
  left: 0px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.canvas .column.selected .label {
  background-color: #cccccc;
}
.canvas .bar-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.canvas .bar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: #CCC;
  background-image: url('../i/white70.png');
  background-repeat: repeat;
  background-position: top left;
  width: 60px;
  height: 0px;
}
.canvas .bar .amount {
  display: none;
}
.canvas .bar.stacked,
.canvas .bar.selected {
  background-image: none;
}
.canvas .bar.selected {
  z-index: 5;
}
.canvas .bar.hover {
  z-index: 7;
  background-image: none;
}
.canvas .highlight {
  display: block;
  background: #FFF;
  border: 3px #000 solid;
  font-size: 0.8em;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 40;
  padding: 7px;
  margin-bottom: 23px;
  width: 110px;
}
.canvas .highlight .total {
  background-color: transparent;
}
.canvas .highlight span,
.canvas .highlight a {
  display: block;
  text-align: center;
}
.canvas .highlight span.percent {
  font-style: italic;
  display: inline;
}
.canvas .highlight span.amount {
  font-size: 1.15em;
}
.canvas .highlight .arrow {
  position: absolute;
  width: 20px;
  height: 34px;
  top: 17px;
  left: -17px;
  background: transparent url('i/horiz_hover_right.png') center center no-repeat;
}
.canvas .highlight.above .arrow {
  width: 34px;
  height: 20px;
  bottom: -17px;
  left: 45px;
  background-image: url('i/horiz_hover_bottom.png');
}
.canvas .highlight.left .arrow {
  left: 121px;
  background-image: url('i/horiz_hover_left.png');
}
.bar .highlight {
  display: none;
}
.chart.barchart .bar {
  background-color: #444444;
}
.chart.barchart .bar .color {
  background-color: #444444;
}
.chart.barchart .bar.sibling {
  background-color: #777777;
}
.chart.barchart .bar.sibling .color {
  background-color: #777777;
}
.chart.barchart .bar.hover,
.chart.barchart .bar.hover.sibling {
  background-color: #444444;
}
/*  Define Colors */
.chart.barchart .column .total,
.chart.barchart .tags .total,
.chart.barchart .column .male,
.chart.barchart .tags .male,
.chart.barchart .column .white,
.chart.barchart .tags .white,
.chart.barchart .column .under12,
.chart.barchart .tags .under12,
.chart.barchart .column .msm,
.chart.barchart .tags .msm {
  background-color: #6666ff;
}
.chart.barchart .column .total .color,
.chart.barchart .tags .total .color,
.chart.barchart .column .male .color,
.chart.barchart .tags .male .color,
.chart.barchart .column .white .color,
.chart.barchart .tags .white .color,
.chart.barchart .column .under12 .color,
.chart.barchart .tags .under12 .color,
.chart.barchart .column .msm .color,
.chart.barchart .tags .msm .color {
  background-color: #6666ff;
}
.chart.barchart .column .total.sibling,
.chart.barchart .tags .total.sibling,
.chart.barchart .column .male.sibling,
.chart.barchart .tags .male.sibling,
.chart.barchart .column .white.sibling,
.chart.barchart .tags .white.sibling,
.chart.barchart .column .under12.sibling,
.chart.barchart .tags .under12.sibling,
.chart.barchart .column .msm.sibling,
.chart.barchart .tags .msm.sibling {
  background-color: #d6d6f5;
}
.chart.barchart .column .total.sibling .color,
.chart.barchart .tags .total.sibling .color,
.chart.barchart .column .male.sibling .color,
.chart.barchart .tags .male.sibling .color,
.chart.barchart .column .white.sibling .color,
.chart.barchart .tags .white.sibling .color,
.chart.barchart .column .under12.sibling .color,
.chart.barchart .tags .under12.sibling .color,
.chart.barchart .column .msm.sibling .color,
.chart.barchart .tags .msm.sibling .color {
  background-color: #d6d6f5;
}
.chart.barchart .column .total.hover,
.chart.barchart .tags .total.hover,
.chart.barchart .column .male.hover,
.chart.barchart .tags .male.hover,
.chart.barchart .column .white.hover,
.chart.barchart .tags .white.hover,
.chart.barchart .column .under12.hover,
.chart.barchart .tags .under12.hover,
.chart.barchart .column .msm.hover,
.chart.barchart .tags .msm.hover,
.chart.barchart .column .total.hover.sibling,
.chart.barchart .tags .total.hover.sibling,
.chart.barchart .column .male.hover.sibling,
.chart.barchart .tags .male.hover.sibling,
.chart.barchart .column .white.hover.sibling,
.chart.barchart .tags .white.hover.sibling,
.chart.barchart .column .under12.hover.sibling,
.chart.barchart .tags .under12.hover.sibling,
.chart.barchart .column .msm.hover.sibling,
.chart.barchart .tags .msm.hover.sibling {
  background-color: #6666ff;
}
.chart.barchart .column .female,
.chart.barchart .tags .female,
.chart.barchart .column .aa,
.chart.barchart .tags .aa,
.chart.barchart .column .13to19,
.chart.barchart .tags .13to19,
.chart.barchart .column .idu,
.chart.barchart .tags .idu {
  background-color: #ff8000;
}
.chart.barchart .column .female .color,
.chart.barchart .tags .female .color,
.chart.barchart .column .aa .color,
.chart.barchart .tags .aa .color,
.chart.barchart .column .13to19 .color,
.chart.barchart .tags .13to19 .color,
.chart.barchart .column .idu .color,
.chart.barchart .tags .idu .color {
  background-color: #ff8000;
}
.chart.barchart .column .female.sibling,
.chart.barchart .tags .female.sibling,
.chart.barchart .column .aa.sibling,
.chart.barchart .tags .aa.sibling,
.chart.barchart .column .13to19.sibling,
.chart.barchart .tags .13to19.sibling,
.chart.barchart .column .idu.sibling,
.chart.barchart .tags .idu.sibling {
  background-color: #e0b385;
}
.chart.barchart .column .female.sibling .color,
.chart.barchart .tags .female.sibling .color,
.chart.barchart .column .aa.sibling .color,
.chart.barchart .tags .aa.sibling .color,
.chart.barchart .column .13to19.sibling .color,
.chart.barchart .tags .13to19.sibling .color,
.chart.barchart .column .idu.sibling .color,
.chart.barchart .tags .idu.sibling .color {
  background-color: #e0b385;
}
.chart.barchart .column .female.hover,
.chart.barchart .tags .female.hover,
.chart.barchart .column .aa.hover,
.chart.barchart .tags .aa.hover,
.chart.barchart .column .13to19.hover,
.chart.barchart .tags .13to19.hover,
.chart.barchart .column .idu.hover,
.chart.barchart .tags .idu.hover,
.chart.barchart .column .female.hover.sibling,
.chart.barchart .tags .female.hover.sibling,
.chart.barchart .column .aa.hover.sibling,
.chart.barchart .tags .aa.hover.sibling,
.chart.barchart .column .13to19.hover.sibling,
.chart.barchart .tags .13to19.hover.sibling,
.chart.barchart .column .idu.hover.sibling,
.chart.barchart .tags .idu.hover.sibling {
  background-color: #ff8000;
}
.chart.barchart .column .transgender,
.chart.barchart .tags .transgender,
.chart.barchart .column .latino,
.chart.barchart .tags .latino,
.chart.barchart .column .20to29,
.chart.barchart .tags .20to29,
.chart.barchart .column .msm-idu,
.chart.barchart .tags .msm-idu {
  background-color: #ff66ff;
}
.chart.barchart .column .transgender .color,
.chart.barchart .tags .transgender .color,
.chart.barchart .column .latino .color,
.chart.barchart .tags .latino .color,
.chart.barchart .column .20to29 .color,
.chart.barchart .tags .20to29 .color,
.chart.barchart .column .msm-idu .color,
.chart.barchart .tags .msm-idu .color {
  background-color: #ff66ff;
}
.chart.barchart .column .transgender.sibling,
.chart.barchart .tags .transgender.sibling,
.chart.barchart .column .latino.sibling,
.chart.barchart .tags .latino.sibling,
.chart.barchart .column .20to29.sibling,
.chart.barchart .tags .20to29.sibling,
.chart.barchart .column .msm-idu.sibling,
.chart.barchart .tags .msm-idu.sibling {
  background-color: #f5d6f5;
}
.chart.barchart .column .transgender.sibling .color,
.chart.barchart .tags .transgender.sibling .color,
.chart.barchart .column .latino.sibling .color,
.chart.barchart .tags .latino.sibling .color,
.chart.barchart .column .20to29.sibling .color,
.chart.barchart .tags .20to29.sibling .color,
.chart.barchart .column .msm-idu.sibling .color,
.chart.barchart .tags .msm-idu.sibling .color {
  background-color: #f5d6f5;
}
.chart.barchart .column .transgender.hover,
.chart.barchart .tags .transgender.hover,
.chart.barchart .column .latino.hover,
.chart.barchart .tags .latino.hover,
.chart.barchart .column .20to29.hover,
.chart.barchart .tags .20to29.hover,
.chart.barchart .column .msm-idu.hover,
.chart.barchart .tags .msm-idu.hover,
.chart.barchart .column .transgender.hover.sibling,
.chart.barchart .tags .transgender.hover.sibling,
.chart.barchart .column .latino.hover.sibling,
.chart.barchart .tags .latino.hover.sibling,
.chart.barchart .column .20to29.hover.sibling,
.chart.barchart .tags .20to29.hover.sibling,
.chart.barchart .column .msm-idu.hover.sibling,
.chart.barchart .tags .msm-idu.hover.sibling {
  background-color: #ff66ff;
}
.chart.barchart .column .api,
.chart.barchart .tags .api,
.chart.barchart .column .30to39,
.chart.barchart .tags .30to39,
.chart.barchart .column .heterosexual,
.chart.barchart .tags .heterosexual {
  background-color: #8000ff;
}
.chart.barchart .column .api .color,
.chart.barchart .tags .api .color,
.chart.barchart .column .30to39 .color,
.chart.barchart .tags .30to39 .color,
.chart.barchart .column .heterosexual .color,
.chart.barchart .tags .heterosexual .color {
  background-color: #8000ff;
}
.chart.barchart .column .api.sibling,
.chart.barchart .tags .api.sibling,
.chart.barchart .column .30to39.sibling,
.chart.barchart .tags .30to39.sibling,
.chart.barchart .column .heterosexual.sibling,
.chart.barchart .tags .heterosexual.sibling {
  background-color: #b385e0;
}
.chart.barchart .column .api.sibling .color,
.chart.barchart .tags .api.sibling .color,
.chart.barchart .column .30to39.sibling .color,
.chart.barchart .tags .30to39.sibling .color,
.chart.barchart .column .heterosexual.sibling .color,
.chart.barchart .tags .heterosexual.sibling .color {
  background-color: #b385e0;
}
.chart.barchart .column .api.hover,
.chart.barchart .tags .api.hover,
.chart.barchart .column .30to39.hover,
.chart.barchart .tags .30to39.hover,
.chart.barchart .column .heterosexual.hover,
.chart.barchart .tags .heterosexual.hover,
.chart.barchart .column .api.hover.sibling,
.chart.barchart .tags .api.hover.sibling,
.chart.barchart .column .30to39.hover.sibling,
.chart.barchart .tags .30to39.hover.sibling,
.chart.barchart .column .heterosexual.hover.sibling,
.chart.barchart .tags .heterosexual.hover.sibling {
  background-color: #8000ff;
}
.chart.barchart .column .na,
.chart.barchart .tags .na,
.chart.barchart .column .40to49,
.chart.barchart .tags .40to49,
.chart.barchart .column .other-exposure,
.chart.barchart .tags .other-exposure {
  background-color: #66ffff;
}
.chart.barchart .column .na .color,
.chart.barchart .tags .na .color,
.chart.barchart .column .40to49 .color,
.chart.barchart .tags .40to49 .color,
.chart.barchart .column .other-exposure .color,
.chart.barchart .tags .other-exposure .color {
  background-color: #66ffff;
}
.chart.barchart .column .na.sibling,
.chart.barchart .tags .na.sibling,
.chart.barchart .column .40to49.sibling,
.chart.barchart .tags .40to49.sibling,
.chart.barchart .column .other-exposure.sibling,
.chart.barchart .tags .other-exposure.sibling {
  background-color: #d6f5f5;
}
.chart.barchart .column .na.sibling .color,
.chart.barchart .tags .na.sibling .color,
.chart.barchart .column .40to49.sibling .color,
.chart.barchart .tags .40to49.sibling .color,
.chart.barchart .column .other-exposure.sibling .color,
.chart.barchart .tags .other-exposure.sibling .color {
  background-color: #d6f5f5;
}
.chart.barchart .column .na.hover,
.chart.barchart .tags .na.hover,
.chart.barchart .column .40to49.hover,
.chart.barchart .tags .40to49.hover,
.chart.barchart .column .other-exposure.hover,
.chart.barchart .tags .other-exposure.hover,
.chart.barchart .column .na.hover.sibling,
.chart.barchart .tags .na.hover.sibling,
.chart.barchart .column .40to49.hover.sibling,
.chart.barchart .tags .40to49.hover.sibling,
.chart.barchart .column .other-exposure.hover.sibling,
.chart.barchart .tags .other-exposure.hover.sibling {
  background-color: #66ffff;
}
.chart.barchart .column .other-race,
.chart.barchart .tags .other-race,
.chart.barchart .column .over50,
.chart.barchart .tags .over50 {
  background-color: #ff0000;
}
.chart.barchart .column .other-race .color,
.chart.barchart .tags .other-race .color,
.chart.barchart .column .over50 .color,
.chart.barchart .tags .over50 .color {
  background-color: #ff0000;
}
.chart.barchart .column .other-race.sibling,
.chart.barchart .tags .other-race.sibling,
.chart.barchart .column .over50.sibling,
.chart.barchart .tags .over50.sibling {
  background-color: #e08585;
}
.chart.barchart .column .other-race.sibling .color,
.chart.barchart .tags .other-race.sibling .color,
.chart.barchart .column .over50.sibling .color,
.chart.barchart .tags .over50.sibling .color {
  background-color: #e08585;
}
.chart.barchart .column .other-race.hover,
.chart.barchart .tags .other-race.hover,
.chart.barchart .column .over50.hover,
.chart.barchart .tags .over50.hover,
.chart.barchart .column .other-race.hover.sibling,
.chart.barchart .tags .other-race.hover.sibling,
.chart.barchart .column .over50.hover.sibling,
.chart.barchart .tags .over50.hover.sibling {
  background-color: #ff0000;
}
