.chart {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px;
  background-color: #FFF;
}
.chart .description,
.chart .title {
  margin: 0px 7px;
}
.chart .description {
  margin-bottom: 7px;
}
.chart .controls {
  margin: 0px 7px;
}
.chart .controls legend {
  margin: 0px 0px 3.5px;
  font-size: 12px;
  line-height: 13px;
  font-style: italic;
  border: 0px;
}
/* GRID */
.grid {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}
.grid .tick {
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: 1px solid #cccccc;
  width: 100%;
}
.grid .tick .label {
  display: none;
}
.filters {
  display: block;
  clear: both;
}
.filters label {
  width: auto;
  display: block;
  float: left;
  margin: 0px 7px 0px 0px;
  position: relative;
}
.filters .tags {
  display: block;
  clear: both;
  margin: 0px;
}
.filters .tags-children {
  display: none;
  clear: both;
  margin: 0px;
  padding: 0px;
}
.filters .tags li,
.filters .tags-children li {
  float: left;
}
.filters .tag {
  cursor: pointer;
  padding: 7px;
  margin: 0px;
  overflow: hidden;
}
.filters .tag.radio {
  padding-left: 7px;
}
.filters .tag.active {
  background-color: #cccccc;
}
.filters .tag.active-parent {
  background-color: #f2f2f2;
}
.filters .tag input {
  display: block;
  position: absolute;
  left: -50px;
}
.filters .tag .color {
  width: auto;
  height: 5px;
  display: block;
  float: none;
}
.canvas-container {
  position: relative;
  overflow: hidden;
  height: 350px;
  display: block;
  width: auto;
  margin: 0px 7px;
}
.canvas {
  height: 400px;
  width: auto;
  display: block;
  margin: 7px 0px 30px;
  position: relative;
  top: 0px;
  left: 0px;
}
.canvas .scale {
  position: relative;
  background-color: #FFF;
  display: block;
  float: left;
  height: 100%;
  width: 50px;
  margin-right: 14px;
}
.canvas .scale .tick {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.canvas .scale .tick .label {
  display: block;
  padding: 0px 7px;
  text-align: right;
  font-size: 0.8em;
}
.canvas .column {
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
  float: left;
  width: auto;
  height: 100%;
  margin-right: 21px;
}
.canvas .column .label {
  display: block;
  position: absolute;
  top: 400px;
  left: 0px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 1em;
  padding-bottom: 3.5px;
}
.canvas .column .label .row {
  margin: 3.5px 0px 0px;
  display: block;
}
.canvas .column .label .total {
  font-style: italic;
}
.canvas .column,
.canvas .scale {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}
.canvas .column.selected .label {
  background-color: #cccccc;
}
.canvas .bar-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.canvas .bar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: #CCC;
  background-image: url('../i/white70.png');
  background-repeat: repeat;
  background-position: top left;
  width: 60px;
  height: 0px;
}
.canvas .bar .amount {
  display: none;
}
.canvas .bar.stacked,
.canvas .bar.selected {
  background-image: none;
}
.canvas .bar.selected {
  z-index: 5;
}
.canvas .bar.hover {
  z-index: 7;
  background-image: none;
}
.chart .x_label,
.chart .y_label {
  font-style: italic;
  font-size: 0.8em;
  display: block;
  float: none;
  clear: both;
  width: auto;
}
.chart .y_label {
  margin-left: 7px;
}
.chart .x_label {
  text-align: center;
}
.canvas-container .top-fade {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 13;
  width: 100%;
  height: 5px;
  background-image: url('../i/top-fade.png');
  background-repeat: repeat-x;
  background-position: 0px 0px;
}
.canvas .highlight {
  display: block;
  background: #FFF;
  border: 3px #000 solid;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 40;
  padding: 7px;
  width: 110px;
  margin-bottom: 23px;
}
.canvas .highlight .row {
  margin: 0px 3.5px;
}
.canvas .highlight .amount {
  font-size: 1.15em;
  font-weight: bold;
}
.canvas .highlight .percent {
  font-style: italic;
}
.canvas .highlight .total {
  font-weight: bold;
}
.canvas .highlight .arrow {
  position: absolute;
  width: 20px;
  height: 34px;
  top: 17px;
  left: -17px;
  z-index: 15;
  background: transparent url('../i/horiz_hover_right.png') center center no-repeat;
}
.canvas .highlight.above .arrow {
  width: 34px;
  height: 20px;
  bottom: -17px;
  left: 45px;
  background-image: url('../i/horiz_hover_bottom.png');
}
.canvas .highlight.left .arrow {
  left: 121px;
  background-image: url('../i/horiz_hover_left.png');
}
.bar .highlight {
  display: none;
}
