<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>{% block title %}SF HIV Charts{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	{% block styles %}
	<link rel="stylesheet" href="{{ STATIC_URL }}datamemos/css/datamemos.css" />
	{% endblock %}
	
	{% block scripts %}
	<script type="text/javascript" src="{{STATIC_URL}}datamemos/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}datamemos/js/crsf.jquery.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}datamemos/js/jquery.address.min.js" ></script>
	<script type="text/javascript" src="{{STATIC_URL}}datamemos/js/page.js"></script>
	{% endblock %}
</head>
<body>
	<div id="main-nav" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			{% block navbar %}

			{% endblock %}
			</div>
		</div>
	</div>
	<div class="wrapper content-wrapper">
		<div class="container">
		{% block content %}
	
		{% endblock %}
		</div>
	</div>
	<div id="footer" class="">
		<div class="container">
			<a href="http://www.sfdph.org" class="logo dph-logo">San Francsico Department of Public Health</a>
			<a href="http://www.sfhiv.org" class="logo sfhiv-logo">San Francsico HIV Prevention Section</a>
			<div class="citation">
				<a href="http://www.sfdph.org">
					<span class="title">City and County of San Francisco</span>
					<span class="title main">Department of Public Health</span>
				</a>
				<a href="http://www.sfhiv.org">
					<span class="title main">HIV Prevention Section</span>				
				</a>
			</div>
		</div>
	</div>
</body>
</html>