#memos{
	display:block;
	float:left;
	width:300px;
	font-size:1.1em;
}

#memos .navigation{
	display:none;
}

#memos .memo{
	background:#DDD;
	border-left:1px #333 solid;
	border-top:1px #333 solid;
	width:auto;
	padding:7px;
	margin:7px 0px 0px;
}
#memos .memo.relivant{
	background:#FFF;
}
#memos .memo.focus{
	border-width:3px;
	background:#daedff;
}

#memos form.memo{
	background:#FFF;
}

#memos .memo .message,#memos .memo .author,#memos .memo .update{
	display:block;
}

#memos .memo .message{
	font-size:1em;
}

#memos .memo .author{
	font-size:0.95em;
	padding:0px 0px 0px 15px;
}

#memos .memo .update{
	font-size:0.8em;
	text-align:right;
}



#memos form.memo input,#memos form.memo textarea, #memos form.memo label{
	display:block;
	clear:both;
	width:270px;
	margin:0px auto;
	padding:3px 4px;
}
#memos form.memo label{
	font-size:0.9em;
	margin-top:7px;
	padding:0px;
}
#memos form.memo label.description{
	font-size:0.70em;
	margin-top:3px;
}

#memos form.memo label.checkbox{
	font-size:1em;
}
#memos form.memo .checkbox input{
	width:auto;
	padding:0px;
	margin:3px;
}

#memos form.memo input.button{
	margin-top:7px;
}

#memos .memo a.close,#memos form.memo a.delete{
	font-size:0.8em;
	display:block;
	margin:0px;
	float:left;
}
#memos form.memo a.delete{
	float:right;
	color:#AA0000;
}