<html>
	<head>
		<title>{{title}}</title>
		{% block styles %}
		<link rel="stylesheet" href="/static/css/normalize.css" />
		<link rel="stylesheet" href="/static/css/styles.css" />
		{% endblock %}
		{% block scripts %}
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.address-1.4.min.js"></script>
		{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			<h1>{{title}}</h1>
			{% block content %}
			<p>Default Content</p>
			{% endblock %}
			<div id="foot">
				
			</div>
		</div>
	</body>
</html>