<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>{{title}}</title>
		{% block styles %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
		{% endblock %}
		{% block scripts %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.address-1.4.min.js') }}"></script>
		{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			{% block nav%}
			
			{% endblock %}
			{% block content %}
			<p>Default Content</p>
			{% endblock %}
			<div id="foot">
				
			</div>
		</div>
		<div id="templates">
			{% block templates %}
			
			{% endblock %}
		</div>
	</body>
</html>