{% extends 'page.html' %}

{% block content %}
<a href="{{url_for('definitions_app.view_all')}}">Back to all definitions</a>
<h1>{% if definition.id %}Edit {{definition.name}}{% else %}Create New Definition{% endif %}</h1>
<form class="definition" action="" method="post">
	<input type="hidden" name="id" value="{{definition.id}}" />
	<label for="def_name">Definition Name</label>
	<input id="def_name" type="text" name="name" value="{{definition.name}}" />
	<label for="def_text">Definition Text</label>
	<textarea id="def_text" name="text">{{definition.text}}</textarea>
	<input type="submit" value="save" />
	{% if definition.id %}
	<a href="{{url_for('definitions_app.delete',id=definition.id)}}">delete</a>
	{% endif %}
</form>
{% endblock %}