@highlight_color:#AAA;
@gridColor:#CCC;
@spaceSize:7px;

.chart{
	position:relative;
	top:0px;
	left:0px;
	margin:@spaceSize*2 0px;
	.description,.title{
		margin:0px @spaceSize;
	}
	.description{
		margin-bottom:@spaceSize;
	}
	.controls{
		margin:0px @spaceSize;
		legend{
			margin:0px 0px @spaceSize/2;
			font-size:12px;
			line-height:13px;
			font-style:italic;
			border:0px;
		}
	}
}

/* GRID */
.grid{
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	width:100%;
	height:100%;
	border-right:1px solid @gridColor;
	border-left:1px solid @gridColor;
	.tick{
		position:absolute;
		top:0px;
		left:0px;
		border-top:1px solid @gridColor;
		width:100%;
		.label{
			display:none;
		}
	}
}

.filters{
	display:block;
	clear:both;
	label{
		width:auto;
		display:block;
		float:left;
		margin:0px 7px 0px 0px;
		position:relative;
	}
	.tags{
		display:block;
		clear:both;
	}
	.tags-children{
		display:none;
		clear:both;
	}
	.tags li,.tags-children li{
		float:left;
	}
	.tag{
		cursor:pointer;
		padding:5px;
	}
	.tag.radio{
		padding-left:22px;
	}
	.tag.active{
		background-color:@gridColor;
	}
	.tag.active-parent{
		background-color:lighten(@gridColor,15%);
	}
	.tag .color{
		width:20px;
		height:15px;
		display:block;
		position:absolute;
		top:3px;
		left:5px;
		border:#FFF 3px solid;
	}
	.tags .tag .color{
		display:none;
	}
	.tags-children .tag{
		padding:5px 5px 5px 35px;
		.color{
			display:block;
		}
		input{
			display:none;
		}
	}
}
.canvas-container{
	position:relative;
	overflow:hidden;
	height:350px;
	display:block;
	width:auto;
	margin:0px @spaceSize;
}
.canvas{
	height:300px;
	width:auto;
	display:block;
	margin:7px 0px 30px;
	position:relative;
	top:0px;
	left:0px;
	.scale{
		position:relative;
		background-color:#FFF;
		display:block;
		float:left;
		height:100%;
		width:50px;
		margin-right:14px;
		.tick{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			.label{
				display:block;
				padding:0px 7px;
				text-align:right;
				font-size:0.8em;
			}
		}
	}
	.column{
		position:relative;
		top:0px;
		left:0px;
		display:block;
		float:left;
		width:auto;
		height:100%;
		margin-right:21px;
		.label{
			display:block;
			position:absolute;
			top:400px;
			left:0px;
			width:100%;
			text-align:center;
			cursor:pointer;
		}
	}
	.column.selected .label{
		background-color:@gridColor;
	}
	.bar-container{
		display:block;
		position:relative;
		width:100%;
		height:100%;
	}
	.bar{
		position:absolute;
		top:0px;
		left:0px;
		z-index:3;
		background-color:#CCC;
		background-image:url('../i/white70.png');
		background-repeat:repeat;
		background-position:top left;
		width:60px;
		height:0px;
		.amount{
			display:none;
		}
		&.stacked,&.selected{
			background-image:none;
		}
		&.selected{
			z-index:5;
		}
		&.hover{
			z-index:7;
			background-image:none;
		}
	}
}



.canvas{
	.highlight{
		display:block;
		background:#FFF;
		border:3px #000 solid;
		font-size:0.8em;
		position:absolute;
		top:0px;
		left:0px;
		z-index:40;
		padding:7px;
		margin-bottom:23px;
		width:110px;
		.total{
			background-color:transparent;
		}
		span,a{
			display:block;
			text-align:center;
		}
		span.percent{
			font-style:italic;
			display:inline;
		}
		span.amount{
			font-size:1.15em;
		}
		
		.arrow{
			position:absolute;
			width:20px;
			height:34px;
			top:17px;
			left:-17px;
			z-index:15;
			background:transparent url('../i/horiz_hover_right.png') center center no-repeat;
		}
	}
	.highlight.above{
		.arrow{
			width:34px;
			height:20px;
			bottom:-17px;
			left:45px;
			background-image:url('../i/horiz_hover_bottom.png');			
		}
	}
	.highlight.left{
		.arrow{
			left:121px;
			background-image:url('../i/horiz_hover_left.png');
		}
	}
}
.bar .highlight{
	display:none;
}


.bar_mix(@color){
	background-color:@color;
	.color{
		background-color:@color;
	}
	&.sibling{
		background-color:desaturate(lighten(@color,20%),40%);
		.color{
			background-color:desaturate(lighten(@color,20%),40%);
		}
	}
	&.hover,&.hover.sibling{
		background-color:@color;
	}
}

.chart.barchart .bar{
	.bar_mix(#444)
}

/*  Define Colors */
.chart.barchart{
	.column,.tags{
		.total,.male,.white,.under12,.msm{
			.bar_mix(#6666ff)
		}
		.female,.aa,.13to19,.idu{
			.bar_mix(#ff8000)
		}
		.transgender,.latino,.20to29,.msm-idu{
			.bar_mix(#ff66ff)
		}
		.api,.30to39,.heterosexual{
			.bar_mix(#8000ff)
		}
		.na,.40to49,.other-exposure{
			.bar_mix(#66ffff)
		}
		.other-race,.over50{
			.bar_mix(#ff0000)
		}
	}
}

