.canvas.table .column {
  display: block;
  float: left;
  width: 70px;
  text-align: center;
}
.canvas.table .column.legend {
  width: 180px;
}
.canvas.table .row {
  display: block;
  clear: both;
}
